.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  min-height: 100vh;
  overflow: hidden;
}

.description {
  max-width: var(--max-width-pre-launch);
  width: 100%;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  line-height: 1.75;
}

.h1 {
  font-size: 2.5rem;
  line-height: 1.325;
  max-width: var(--max-width-pre-launch);
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  height: 520px;
  width: 680px;
  left: 40%;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  height: 320px;
  width: 480px;
  left: 48%;
}

.center::before,
.center::after {
  content: '';
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
  z-index: -1;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Tablet */
@media (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 720px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem 1rem 0 1rem;
    min-height: 100vh;
  }

  .description {
    font-size: 1.125rem;
    line-height: 1.75;
    margin-top: 2rem;
  }

  .h1 {
    font-size: 2rem;
    line-height: 1.325;
  }

  .center::before {
    display: none;
  }
  
  .center::after {
    height: calc(100% - 80px);
    width: 100%;
    left: 0%;
    top: -8px;
    /* margin-left: -16px; */
  }
}

@media (prefers-color-scheme: dark) {
  /* .vercelLogo {
    filter: invert(1);
  }

  .logo,
  .thirteen img {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  } */
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
